$primary-color: #191847;
$secondary-color: #f5850b;
$dark-gray: #151516;
$medium-gray: #727272;
$gray: #b0b0b0;
$light-gray: #dddddd;
$light-grayish: #f4f3f6;
$grayish-violet: #c9c5d4;
$light-grayish-violet: #e1dee8;
$white: #ffffff;
