@import '/src/styles/colors';

.payment {
  &__info {
    .cards {
      gap: 15px;
      display: flex;
      margin: 30px 0 15px;
      justify-content: center;

      &__card {
        height: 35px;
      }
    }

    .powered-by {
      width: 100%;
      display: flex;
      text-align: center;
      color: $light-gray;
      align-items: center;
      justify-content: center;

      &__logo {
        height: 15px;
        margin-left: 5px;
      }
    }
  }
}
